
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  line-height: 1.6;
  color: #333;
}


a {
  text-decoration: none;
  color: inherit;
}


.btn-primary {
  background-color: #4f46e5;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #4338ca;
}


.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4f46e5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a:hover {
  color: #4f46e5;
}


.hero {
  background-image:
    
    
    url("images/hero.bg.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
  text-align: center;
  padding: 100px 20px;
}


.hero h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 24px;
}


.features {
  padding: 60px 20px;
  text-align: center;
}

.features h2 {
  margin-bottom: 40px;
}

.feature-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #f9f9f9;
  padding: 24px;
  width: 280px;
  border-radius: 8px;
}

.card h3 {
  margin-bottom: 10px;
  color: #4f46e5;
}


.how-it-works {
  background: #f3f4f6;
  padding: 60px 20px;
  text-align: center;
}

.how-it-works ol {
  max-width: 400px;
  margin: auto;
  text-align: left;
}


.pricing {
  padding: 60px 20px;
  text-align: center;
}


.cta {
  background-color: #4f46e5;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}


.footer {
  background-color: #111827;
  color: #fff;
  text-align: center;
  padding: 20px;
}
